env/
.vscode/
__pycache__/
src/modelos/__pycache__/
src/modelos/entidades/__pycache__/

#Carpetas de las imagenes y codigos QR
static/qrcodes/
static/imagenes/
static/mascotas_img/

static/qrcodes/
dict.py
Requirements.txt
API_KEY.py
DB_codigo.txt
templates/test_unpload.html