
/* index.html */

body{
    margin: 0;
    padding: 0;
}

.fondo-color{
    background-color: #fc923d;
}

.letra-mediana{
    font-size: 0.8rem;
}

.padding{
    padding-left: 10%;
    padding-right: 10%;
}

.ancho{
    width: 20%;
}

#carga{
    display: none;
}

.alert-dismissible-custom {
    right: 1rem !important; /* Ajusta el valor según sea necesario */
}

/* registrar.html  */


