
/* index.html */

body{
    margin: 0;
    padding: 0;
}

.fondo-color{
    background-color: #fc923d;
    min-height: 100vh;
}

.letra-mediana{
    font-size: 0.8rem;
}

.padding{
    padding-left: 10%;
    padding-right: 10%;
}

.ancho{
    width: 20%;
}

#carga{
    display: none;
}

.alert-dismissible-custom {
    right: 1rem !important; /* Ajusta el valor según sea necesario */
}

/* registrar.html  */


.modal-foto{
    background-image: url(../static/imagenes/huellas.png);
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    width: 60vw;
    height: 25vh;
    opacity: 0.5;
    overflow: auto;
}
#modal-registros{
    background-color: rgb(215, 190, 157);
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    width: 60vw;
    height: 25vh;
    opacity: 0.5;
    overflow: auto;
    display: none;
    justify-content: start;
}

#table_info{
    display: flex;
}

#ocultar{
    display: block;
}