<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>PAGINA NO ENCONTRADA</title>

<style>
    body{
        margin: 0;
        padding: 0;
    }
    
    .fondo-color{
        background-color: #fc923d;
        min-height: 100vh;
        min-width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
</style>

</head>
<body>
    <div class="fondo-color">
        <img src="{{url_for('static', filename='imagenes/error.svg')}}"  class="img-fluid rounded mx-auto d-block" style="width: 200px; height: 200px;" alt="No encontrado">
        <p class="text-center mt-4 fs-4">La página que buscas no existe.</p>
        <h4 class="text-center "><a href="{{url_for('main')}}" class="text-decoration-none">Volver a la página de inicio</a></h4>
    </div>
</body>
</html>